body {
    background-image: url("../img/fondo2.png");
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.contenedor{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}
.productos{
    
    display: flex;
    justify-content:center;
    flex-direction: row;  
}

.accion{
    margin-left:10px;
}
input{
    width: 12%;
}